@import './null.css';
@import './fonts.css';

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.ruble::after {
    content: '\20BD';
}

.fancybox__dialog {
    max-width: 100vw !important;
}
