# Global
SITE_URL=
APP_ENV=dev # dev / prod

# Directus
DIRECTUS_URL=
DIRECTUS_TOKEN=
DIRECTUS_TYPEGEN_TOKEN=
DIRECTUS_WEBHOOK_SECRET=

# Yandex
YANDEX_API_KEY=

# SMTP
SMTP_HOST=smtp.beget.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# Log
LOG_LEVEL=ERROR # DEBUG / ERROR / WARN