# Global
SITE_URL=

# Directus
DIRECTUS_URL=
DIRECTUS_TOKEN=
DIRECTUS_TYPEGEN_TOKEN=
DIRECTUS_WEBHOOK_SECRET=
DIRECTUS_AUTO_WEBP=true

# Yandex
YANDEX_API_KEY=

# SMTP
SMTP_HOST=smtp.beget.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# Log
LOG_LEVEL=INFO # DEBUG / INFO / ERROR / WARN