# Postgres
POSTGRES_USER=directus
POSTGRES_PASSWORD=
POSTGRES_DB=directus

# Directus
KEY=
SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
PUBLIC_URL=http://localhost:8055
PORT=8055
PWD=${PWD:-.}

# Storage
STORAGE_LOCATIONS=local
STORAGE_LOCAL_ROOT=/directus/uploads
STORAGE_LOCAL_DRIVER=local

# Для подключения s3
# STORAGE_LOCATIONS=s3
# STORAGE_S3_DRIVER=s3
# STORAGE_S3_KEY=
# STORAGE_S3_SECRET=
# STORAGE_S3_BUCKET=
# STORAGE_S3_ENDPOINT=s3.ru1.storage.beget.cloud
# STORAGE_S3_REGION=ru1
# STORAGE_S3_ROOT=/directus/uploads

# CORS
CORS_ENABLED=true
CORS_ORIGIN=http://localhost:3000